#navlist{
    list-style-type: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #d7dfe6 0%, #eeeaf3 100%);

}

.navcontainer{
    width: 100vw;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;



}

nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
    padding-left: 2rem;
}

#navlist{
    padding: 15px;
    width: 100%;
    /* margin-left:15px ;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navlogo{
font-size: 2.8rem;
color: white;
}

a{
    text-decoration: none;
    color: white;
}

#navitem{
    display: flex;
    gap: 40px;
    
}

.footerbox{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    width: 100%;
    text-align: center;
    min-height: 40px;
    

}

.footerbox p{
    color: white;
    font-size: 2rem;
}

.contentbox{
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 6px 6px 3500px rgb(207, 130, 130) ;
}

.item1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s  ;
}

.rightbox img{
height: 300px;
width: 300px;
border-radius: 20px;
transition: all 0.6s linear 0s;

}

.rightbox:hover{
    transform: scale(1.1);
    
}

.leftbox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.leftbox h2{
    font-size: 2rem;
}

.ingbox{
    font-size: 1.3rem;
}

.recipebox{
    font-size: 1.1rem;
}

.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(155, 147, 147, 0.564); */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    transition: all 0.3s linear 0s;
}

.rightbox:hover.overlay{
    opacity: 0;
}

.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}